<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<!-- Top wrapper to assist alignment and holding absolute boxes-->
		<div id="top-wrapper">
			<div id="center-wrapper">
				<div id="header">
				</div>
			</div>
		</div>
	</body>
</html>
